<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Scripts -->
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/an-old-hope.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="js/main.js"></script>

    <title>Basilisk</title>
</head>
<body>
    <img src="resources/bas.png" alt="Italian Trulli" class="image">
    <div class="intro">
	<!--
        <div class="sidebar">
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>
	-->
        <h1><i>Basilisk</i></h1>
        <p>
            Basilisk is an open source rendering engine suited for 2D and 3D graphics. It is written in C with OpenGL. (Vulkan soon!)
        </p>

	<pre>
	<code>
    git clone https://github.com/nusbog/bssh-client/
    cmake -S . -B build -G "MinGW Makefiles"
    cd ./build && make
	</code>
	</pre>

	<p>
	It is recommended to add the executable to your environment variables. For further use, check out the <a href="manual.html">manual</a>.
	</p>

	<div style="position: absolute; top: 0; right: 5%; display: flex">
	<a class="navigator" href="manual.html">
	    Manual
	</a>

	<a class="navigator" style="left: 20px" href="">
	    Release notes
	</a>
    </div>

</body>
</html>
