<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Scripts -->
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/an-old-hope.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="js/main.js"></script>

    <title>Basilisk</title>
</head>
<body>        
    <img src="resources/bas.png" alt="Italian Trulli" class="image">
    <div class="intro">
        <div class="sidebar">
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>

        <h1><i>Basilisk</i></h1>
        <hr>
        <h2>H1?</h2>
        <p>
            Basilisk is an open source rendering engine suited for 2D and 3D graphics. It is written in C, using OpenGL and GLFW.
        </p>
        
        <br>
        <h2>Features</h2>
        <p class="indented">☑ - Object Rendering</p>
        <p class="indented">☑ - Custom Framebuffers</p>
        <p class="indented">☑ - Shaders (Vertex, Fragment, Geometry, Compute)</p>
        <p class="indented">☑ - Model Loading</p>
        <p class="indented">☐ - Text Rendering</p>
        <p class="indented">☐ - Bindless Textures</p>
        <p class="indented">☐ - Inverse Kinematics</p>
        <p class="indented">☐ - Getting rid of GLFW, CGLM and CGLTF</p>
        <br>
        
        <h1><i>Getting Started</i></h1>
        <hr>
        <h2>Bssh</h2>
        <p>
            Bssh (Basilisk Shell) is an open source CLI used for updating the engine, downloading and uploading packages,
            this is the recommended way to use Basilisk.
        </p>

        <h2>Build Yourself</h2>
        <p>
            You can always compile the engine 
        </p>

        <br>
        <h1><i>Documentation</i></h1>
        <hr>
    </div>

</body>
</html>