body {
    background-color: rgb(15, 20, 30);
}

.intro hr {
    width: 100%;
    height: 2px;
    border-width: 0;
    color: rgb(40, 45, 50);
    background-color: rgb(34, 45, 61);
}

.intro a {
    color: rgb(255, 166, 51);
}

.intro pre code {
    background: rgb(40, 45, 50);

    margin-left: calc(50% - 300px);
    width: 600px;

    border-radius: 5px;
}

.intro {
    margin-top: 32px;
    /* margin-right: 512px; */
    font-family: 'Lora', serif;
    margin-left: calc(50% - 364px);
    /* text-align: center; */
    width: 728px;
}

h1 {
    color: rgb(92, 109, 92);
    font-size: 42px;
}

p {
    color: rgb(72, 85, 72);
    font-size: 24px;
}

.small {
    font-size: 18px;
}

.indented {
    margin-left: 32px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-symbol {
}

.link-symbol:hover {
    transform: translate(100px, 100px);
}

.sidebar {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color: rgb(03, 09, 13);
}

.button {
    width: 30%;
    height: 50px;

    color: #fff;
    border-radius: 5px;
    border-width : 0px;

    font-size: 16px;

    background: rgb(80, 70, 150);
    transition: background 50ms; 

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 8px 6px -6px rgb(03, 09, 13);
}

.button:hover {
    background: rgb(50, 40, 100);
}
